@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");

/* Three image containers (use 25% for four, and 50% for two, etc) */
.obuolys {
    float: left;
    width: 25%;
    padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.fotke {
    width: 290px;
    height: 350px;
    padding: 5px;
}

.fotke2 {
    width: 530px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    vertical-align: middle;
    text-align: center;
    border: 3px solid green;
}
